.center-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding-top: 0px; */
    margin: 0;
}

.center-container-h1{
    color:#FEB101;
    padding-bottom: 20px;
}

.faq {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    width: 500px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.faq:hover {
    border: 2px solid #FEB101;
    border-color: #FEB101;
}

.question {
    background-color: transparent;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.question .toggle {
    font-size: 20px;
    font-weight: bold;
}

.toggle {
    border-radius: 50%;
    /* border: 1px solid rgb(233, 164, 34); */
}

.answer {
    display: none;
    padding: 15px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    color: #333;
    line-height: 1.4;
}

.toggle.active::before {
    content: "✖️";
}

/* Добавляем медиа-запрос для мобильных устройств */
@media screen and (max-width: 768px) {
    .faq {
        width: calc(100% - 20px); /* Уменьшаем ширину .faq блока на 20px */
    }
}
